<div class="background">
  <form class="formulario" action="cadastro">
    <div class="Fundo">
      <h2 class="titulo">Nome e Sobrenome:</h2>

      <input
        class="input"
        placeholder="Nome e Sobrenome"
        type="text"
        name="nome"
        id="nomeuser"
      />

      <h2 class="titulo">Email:</h2>

      <input
        class="input"
        placeholder="exemplo@dominio.com"
        type="email"
        name="email"
        id="mailuser"
      />

      <h2 class="titulo">Telefone:</h2>

      <input
        class="input"
        placeholder="(XX) XXXX - XXXX"
        type="text"
        id="fone"
      />

      <h2 class="titulo">Senha:</h2>

      <input
        class="input"
        type="password"
        placeholder="********"
        name="Senha"
        id="psw"
      />
      <br />
      <h2 class="titulo">Confirmar Senha:</h2>

      <input
        class="input"
        type="password"
        placeholder="********"
        name="Senha"
        id="psw2"
      />
      <br />
      <br />
      <button class="cadastrar" type="submit">Cadastrar</button>
      <br />
      <p>Recuperar <a href="#">Senha.</a></p>
    </div>
  </form>
</div>
<router-outlet />
